* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #555;
}

.main {
  padding: 10px 20vw;
}

.alert {
  color: red;
}

/* ============ code goes here=============== */